pre {
  overflow: auto;
}

li {
  padding-bottom: 5px;
}

li p {
  margin: 0;
}

pre {
  margin: 1em 0;
}

h1 {
  margin-top: 1em;
}

h2 {
  margin-top: 1.2em;
  margin-bottom: 1em;
}

hr {
  margin: 10px 0 19px;
  border: 0;
  border-bottom: 1px solid #bbb;
}

img {
  padding-top: 1em;
  padding-bottom: 1em;
}

.site {
  text-align: left;
}

#social {
  margin: 5px 0 5px 0;
  padding: 5px 5px 0 10px;
  border: 1px #ccc solid;
}
