* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'PT Sans', sans-serif;
  text-shadow: 0 1px 0 #FFF;
  font-weight: normal;
}

body {
  width: 100%;
  padding-top: 60px;
  -webkit-background-size: 100px 100px;
  font-size: 1.05em;
}

a {
  color: #195bc2;
  text-decoration: none;
  position: relative;
}

a:hover {
  text-decoration: underline;
}

a:active {
  bottom: -1px;
}

td.title {
  color: #195bc2;
}

strong, b {
  font-family: 'PT Sans', serif;
}

div.content {
  width: 460px;
  position: relative;
  left: 50%;
  margin: 40px 0 40px -230px;
}

div.content.article {
  width: 600px;
  margin: 50px 0 50px -300px;
}

div.content.header {
  margin-top: 0px;
}


hr {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  box-shadow: 0 1px 0 #FFF;
}

h1 {
  font-size: 40px;
  font-family: 'PT Sans', serif;
  font-weight: bold;
  margin: 0 0 30px 0;
}

.header h1 {
  font-size: 20px;
  line-height: 30px;
}

.header h1 strong, .header h1 strong a {
  font-size: 20px;
  color: #000;
  font-family: 'PT Sans', serif;
}

.footer, .footer * {
  font-family: 'PT Sans', serif;
  font-size: 14px;
}

h2 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 14px;
  font-weight: bold;
}

.header h2, .header h2 * {
  font-size: 18px;
  line-height: 30px;
}

h3, h3 * {
  font-size: 24px;
  font-family: 'PT Sans', serif;
  margin-bottom: 25px;
}

h4, h4 * {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}

h5, h5 * {
  font-size: 14px;
  font-family: 'PT Sans', serif;
  margin: 10px 0 10px 0;
}

#me40 {
  margin-right: 12px;
  float: left;
}

div.app {
  font-size: 16px;
  line-height: 26px;
}

div.app a {
  font-family: 'PT Sans', serif;
  color: #000;
}


.more, a.more, div.app a.more, .header a.more {
  color: #bfbfbf;
  font-size: 12px;
  font-family: 'PT Sans', serif;
  margin-left: 8px;
}

a.more.arrow {
  font-size: 12px;
}

h3 a.more {
  margin-left: 10px;
  bottom: 1px;
}

h3 a.more:active {
  margin-left: 10px;
  bottom: 0;
}

a.more:hover, div.app a.more:hover {
  color: #195bc2;
}

table tr {
  height: 30px;
}

#repositories td.watchers, #repositories td.forks, #articles td.date {
  width: 100px;
  font-size: 14px;
  color: #838383;
}

#repositories td.watchers, #repositories td.forks {
  text-align: right;
}

#repositories td.watchers.header {
  background: url('/images/github-watchers.png') no-repeat 50px 8px;
}

#repositories td.forks.header {
  background: url('/images/github-forks.png') no-repeat 60px 8px;
}

#repositories td.name {
  width: 240px;
}

#articles td.date {
  width: 60px;
}

#articles table {
  margin-bottom: 30px;
  width: 100%;
}

.article p, .article ul, .article ol, .article li, .article i {
  font-size: 1.05em;
  line-height: 1.55em;
}

.article p {
  margin-bottom: 10px;
}

.article p#date {
  color: #acacac;
  margin-bottom: 8px;
  font: 12px 'PT Sans', serif;
}

.article br {
  height: 0;
}

.article ul, .article ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

.article li {
  margin-bottom: 10px;
}

.article strong {
  font-family: 'PT Sans', serif;
  font-weight: bold;
}

.article h3 {
  margin-bottom: 12px;
  line-height: 32px;
}

.article h2 {
  margin: 20px 0 6px 0;
}

.article h4 {
  font-size: 16px;
  margin: 22px 0 6px 0;
}

.article img {
  display:block;
  margin: 20px auto;
}

.article div.gist div span {
  font-family: "Monaco", "Courier";
  font-size: 12px;
  line-height: 22px;
}

.article div.gist .gist-meta {
  font-size: 12px;
  line-height: 16px;
}

.article div.gist pre {
  overflow: visible;
}

.article table {
  margin: 20px auto 30px auto;
  border-spacing: 0;
  font-size: 14px;
  background-color: #edeff1;
  padding: 0 0 0 10px;
}

.article table th {
  font-family: 'PT Sans', serif;
  text-align: left;
  padding-right: 40px;
  border-bottom: 1px solid #ebebeb;
}

.article table td {
  padding-right: 30px;
}

.article pre {
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 2px 5px 2px 5px;
  background-color: #edeff1;
  font-family: "Monaco", "Courier";
  border: 1px solid #e3e3e3;
}

.article code {
  background-color: #edeff1;
  font-family: "Monaco", "Courier";
  font-size: 0.9em;
}

code span {
  font-family: "Monaco", "Courier";
}

.article #share-buttons {
  margin: 20px 0 0 0;
}

.emphasize * {
  font-family: inherit;
  font-style: normal;
}

.emphasize.obj-c .em-class { color: #518b00; }
.emphasize.obj-c .em-number { color: #2a35d5; }
.emphasize.obj-c .em-keyword { color: #bc3faa; }
.emphasize.obj-c .em-method { color: #3b96ad; }
.emphasize.obj-c .em-property { color: #3b96ad; }
.emphasize.obj-c .em-constant { color: #495b7b; }
.emphasize.obj-c .em-preprocessor { color: #76472c; }

.emphasize.obj-c .em-string, .emphasize .em-string * { color: #b1221f; }
.emphasize.obj-c .em-comment, .emphasize .em-comment * { color: #098d10; }
